.main-color {
  color: #d4b24e;
}

.section-color {
  background-color: #faf8f1;
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.min-h-article {
  min-height: 140px;
}

.bg-title {
  background-color: #d4b24e;
  border-right: 4px solid #b09246;
  color: white;
  font-size: 17px;
  height: 45px;
  line-height: 45px;
  margin: 0 auto 10px;
  padding: 0 15px;
}

body {
  font-family: "Noto Kufi Arabic", sans-serif;
  background-color: #faf8f1;
  color: #50596c;
  font-size: 16px;
  scroll-behavior: smooth;
  position: relative;
}
body > .layers-bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: auto;
}
body .content-page {
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.1568627451);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: black;
}

button {
  border: none;
  outline: none;
}

.top-nav {
  background-color: #faf8f1;
  border-radius: 0 0 3px 3px;
  padding: 0.5rem 0;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -ms-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
}
.top-nav .list-social {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: flex-end;
}
.top-nav .list-social a {
  font-size: 18px;
  color: #d4b24e;
}

.mid-nav {
  padding: 1rem 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mid-nav .logo {
  display: block;
  width: 210px;
}
.mid-nav .logo img {
  width: 100%;
  height: auto;
}
.mid-nav .ads {
  display: block;
  width: 70%;
  height: 76px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.mid-nav .ads img {
  height: auto;
  z-index: -1;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  height: 100%;
}
.mid-nav .ads .text {
  font-size: 24px;
  color: white;
  font-weight: bold;
  text-align: center;
  filter: drop-shadow(2px 2px 0px #000000) drop-shadow(0px 0px 2px rgba(77, 4, 4, 0.54));
  -webkit-filter: drop-shadow(2px 2px 0px #000000) drop-shadow(0px 0px 2px rgba(77, 4, 4, 0.54));
}
@media (max-width: 991.98px) {
  .mid-nav {
    flex-direction: column;
    gap: 0.25rem;
  }
  .mid-nav .ads {
    width: 100%;
  }
}

.bottom-nav {
  border-radius: 3px;
  background-image: linear-gradient(0deg, #be9d3f 0%, #d3b14e 100%);
}
.bottom-nav .nav-item .nav-link {
  color: white;
  font-size: 15px !important;
  padding: 16px 12px;
}
.bottom-nav .nav-item .nav-link:hover, .bottom-nav .nav-item .nav-link.active {
  background-color: #b09246;
}
.bottom-nav .nav-item .nav-link .search {
  font-size: 18px !important;
}
.bottom-nav .nav-item .drop-list {
  position: absolute;
  right: 0;
  top: calc(100% + 30px);
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
  margin: 0;
  border-radius: 0;
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
  z-index: 111;
  background-image: linear-gradient(0deg, #be9d3f 0%, #d3b14e 100%);
  transition: 0.4s;
}
.bottom-nav .nav-item .drop-list .list-item .link-item {
  display: block;
  color: white;
  padding: 10px 15px;
  font-size: 15px;
  border-bottom: 1px solid #d4b24e;
  transition: 0.3s;
}
.bottom-nav .nav-item .drop-list .list-item .link-item:hover {
  background-color: #b09246;
}
.bottom-nav .nav-item .drop-list .list-item.list-nested {
  position: relative;
  cursor: pointer;
}
.bottom-nav .nav-item .drop-list .list-item.list-nested .item-nested {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.bottom-nav .nav-item .drop-list .list-item.list-nested .item-nested i,
.bottom-nav .nav-item .drop-list .list-item.list-nested .item-nested svg {
  font-size: 12px;
  transition: 0.3s;
}
.bottom-nav .nav-item .drop-list .list-item.list-nested .drop-nested {
  right: 100%;
}
.bottom-nav .nav-item .drop-list .list-item.list-nested:hover .drop-nested {
  right: 100%;
  top: -2px;
  opacity: 1;
  visibility: visible;
}
.bottom-nav .nav-item .drop-list .list-item.list-nested:hover .item-nested i,
.bottom-nav .nav-item .drop-list .list-item.list-nested:hover .item-nested svg {
  transform: rotate(90deg);
}
.bottom-nav .nav-item .drop-list.show {
  top: calc(100% - 1px);
  visibility: visible !important;
  overflow: inherit;
  opacity: 1 !important;
}
.bottom-nav .nav-item .drop-list.drop-search {
  right: auto;
  left: 0;
  padding: 5px;
  width: 300px;
  border: none;
  background-color: white;
  box-shadow: 3px 3px 14px 0 #c7c2c2;
}
.bottom-nav .nav-item .drop-list.drop-search input {
  width: 100%;
  border-radius: 0;
  margin-left: 4px;
}
.bottom-nav .nav-item .drop-list.drop-search input:focus {
  box-shadow: none;
  border-color: #b09246;
}
.bottom-nav .nav-item .drop-list.drop-search .btn-search {
  background-color: #b09246;
  color: white;
  padding: 10px;
  transition: 0.4s;
}
.bottom-nav .nav-item .drop-list.drop-search .btn-search:hover {
  background-color: #28bb94;
}
.bottom-nav .nav-item .drop-list.drop-search::before {
  content: "";
  position: absolute;
  left: 13px;
  top: -8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7px 8px 7px;
  border-color: transparent transparent #ffffff transparent;
}
.bottom-nav .nav-item .dropdown .nav-link {
  background-color: transparent;
}
.bottom-nav .nav-item .dropdown .nav-link:hover, .bottom-nav .nav-item .dropdown .nav-link:focus {
  background-color: #b09246;
}
.bottom-nav .nav-item .dropdown .nav-link::after {
  transition: 0.4s;
}
.bottom-nav .nav-item .dropdown .nav-link[aria-expanded=true]::after {
  transform: rotate(180deg);
}

.landing .landingSwiper .swiper-slide {
  height: calc(100vh - 43px - 108px - 54.5px - 1.5rem);
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing .landingSwiper .swiper-slide .img {
  position: absolute;
  z-index: -1;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  top: 0;
  height: 100%;
}
.landing .landingSwiper .swiper-slide .text {
  font-size: 24px;
  color: white;
  font-weight: bold;
  background-color: black;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 1rem;
}
.landing .landingSwiper .swiper-button-next,
.landing .landingSwiper .swiper-button-prev {
  color: white !important;
}
.landing .landingSwiper .swiper-button-next::after,
.landing .landingSwiper .swiper-button-prev::after {
  font-size: 35px !important;
}
.landing .landingSwiper .swiper-pagination-bullet {
  width: 11px !important;
  height: 11px !important;
  background-color: white !important;
  opacity: 1 !important;
}
.landing .landingSwiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #d4b24e !important;
}

.about .img {
  width: 100%;
  height: auto;
}
.about .title {
  font-size: 24px;
  color: black;
  margin-bottom: 0.7rem;
  font-weight: bold;
}
.about .text {
  font-size: 14px;
  line-height: 27px;
  margin: 0;
  color: #50596c;
}

.news .title {
  font-size: 24px;
  color: black;
  margin: 0 auto 1.5rem;
  font-weight: bold;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
.news .title::after {
  content: "";
  background-color: #d4b24e;
  width: calc(100% + 12rem);
  position: absolute;
  height: 2px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  z-index: 1;
}
.news .title .text {
  z-index: 2;
  position: relative;
  background-color: #faf8f1;
}

.events {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.events > .layers-bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: auto;
}

.village-flags .card {
  background-color: white;
  border: 0 !important;
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
}
.village-flags .card .card-img-top {
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  height: 225px !important;
}
.village-flags .card .card-body {
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  text-align: center;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
}
.village-flags .card .card-body .card-title {
  font-size: 16px;
  margin-bottom: 0.2rem;
  color: #000000;
  font-weight: bold;
}
.village-flags .card .card-body .info {
  font-size: 15px;
  margin: 0;
  color: #d4b24e;
}

.poll .box {
  border-radius: 8px;
  height: 100%;
  background-color: #d4b24e;
  padding: 1rem 0;
  color: white;
}
.poll .box .title {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  margin-bottom: 2rem;
}
.poll .box .title::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: white;
  left: 0;
  top: 50%;
  position: absolute;
  z-index: 1;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.poll .box .title .text {
  width: -moz-fit-content;
  width: fit-content;
  z-index: 2;
  position: relative;
  background-color: #d4b24e;
  padding-right: 1rem;
}
.poll .box .content-box {
  padding: 0 1rem;
}
.poll .box .content-box .text-box {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.poll .box .content-box .list {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 2rem;
}
.poll .box .content-box .list .item {
  display: flex;
  align-items: center;
  gap: 5px;
}
.poll .box .content-box .list-btn .btn {
  border-radius: 8px;
  padding: 0.4rem 2rem;
  font-size: 14px !important;
  color: white !important;
}
.poll .box .content-box .list-btn .btn.btn-one {
  background-color: #3f2102;
  border: 1px solid #3f2102;
}
.poll .box .content-box .list-btn .btn.btn-two {
  background-color: #4d0404;
  border: 1px solid #4d0404;
}
.poll .box .content-box .img {
  width: 100%;
  border-radius: 23px;
  height: auto;
}
.poll .box.box-two {
  background-color: #aea276;
}
.poll .box.box-two .title .text {
  background-color: #aea276;
}
.poll .box.box-two .btn {
  background-color: white;
  color: #000000;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px !important;
  border: 1px solid wheat !important;
  display: block;
  margin-right: auto;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.media .video {
  filter: drop-shadow(0px 5px 7px rgba(0, 0, 0, 0.35));
  width: 100%;
  height: 250px;
  background-color: #171130;
}
.media .img {
  width: 100%;
  height: 177px;
}

.contact .form-control {
  padding: 10px 12px !important;
  font-size: 14px !important;
  border: 0 !important;
  outline: 0 !important;
  border-radius: 4px !important;
  filter: drop-shadow(1px 1.732px 0px rgba(184, 200, 209, 0.05)) !important;
  background-color: #ffffff !important;
  -webkit-filter: drop-shadow(1px 1.732px 0px rgba(184, 200, 209, 0.05)) !important;
}
.contact .form-control::-moz-placeholder {
  color: black !important;
}
.contact .form-control::placeholder {
  color: black !important;
}

.btn-main {
  background-color: #b9923e !important;
  color: white !important;
  font-size: 14px !important;
}
.btn-main:hover {
  background-color: #b09246 !important;
}

.btn-outline-main {
  padding: 0.5rem 2rem;
  display: block;
  font-size: 14px !important;
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent !important;
  color: #d4b24e !important;
  border: 1px solid #d4b24e !important;
  border-radius: 50px !important;
  -webkit-border-radius: 50px !important;
  -moz-border-radius: 50px !important;
  -ms-border-radius: 50px !important;
  -o-border-radius: 50px !important;
}
.btn-outline-main:hover {
  color: white !important;
  background-color: #d4b24e !important;
}

.main-heading .title {
  font-size: 24px;
  color: black;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.main-heading .text {
  font-size: 18px;
  color: #b9923e;
}

.box-news {
  position: relative;
}
.box-news img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 409px;
}
.box-news img.img-sm {
  height: 200px;
}
.box-news .news-heading {
  position: absolute;
  bottom: 0;
  text-align: center;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6901960784);
  color: white;
  width: 100%;
  padding: 10px;
  font-size: 18px;
}
.box-news .news-heading.sm {
  text-align: start;
  font-size: 14px;
}

.swiper-news {
  height: -moz-fit-content;
  height: fit-content;
}
.swiper-news .swiper-wrapper .swiper-slide .box-news .news-heading {
  padding: 20px 50px;
}
.swiper-news .btn-directions {
  height: 26px;
  width: 26px;
  border-radius: 50%;
  border: 2px solid white;
  top: 94%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.swiper-news .btn-directions:after {
  font-size: 11px;
  color: white;
}

.swiper-events .swiper-wrapper {
  align-items: stretch !important;
}
.swiper-events .swiper-wrapper .swiper-slide {
  height: unset !important;
}
.swiper-events .swiper-wrapper .swiper-slide .box {
  border-radius: 4px;
  background-color: #f6f4ef;
  display: block;
  padding: 1.5rem;
}
.swiper-events .swiper-wrapper .swiper-slide .box .img {
  border-radius: 13px;
  width: 100%;
  height: auto;
}
.swiper-events .swiper-wrapper .swiper-slide .box .title-box {
  font-size: 17px;
  margin-bottom: 0.2rem;
  color: #000000;
  font-weight: bold;
}
.swiper-events .swiper-wrapper .swiper-slide .box .text-box {
  margin-bottom: 0.2rem;
  font-size: 16px;
  color: #50596c;
}
.swiper-events .swiper-wrapper .swiper-slide .box .date-box {
  margin-bottom: 0.4rem;
  font-size: 16px;
  color: #d4b24e;
}
.swiper-events .swiper-wrapper .swiper-slide .box .icon-box {
  width: 30px;
  height: 30px;
  background-color: #d4b24e;
  display: flex;
  margin: 0 auto;
  border-radius: 50%;
  color: white;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.swiper-events .btn-directions {
  width: 28px;
  height: 28px;
  background-color: #d4b24e;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white !important;
}
.swiper-events .btn-directions::after {
  display: none !important;
}
.swiper-events .btn-directions.swiper-button-next {
  left: 0 !important;
}
.swiper-events .btn-directions.swiper-button-prev {
  right: 0 !important;
}

.box-article .date-holder {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: #d4b24e;
  padding: 9px 20px;
  border-radius: 0px 10px 0px 10px;
  color: white;
  font-size: 16px;
}
.box-article .date-holder i,
.box-article .date-holder svg {
  color: white;
}
.box-article .date-holder p {
  margin-bottom: 0;
  font-weight: 500;
}
.box-article.show-article {
  transition: 0.3s;
  position: relative;
  border: 1px solid #cfd6d7;
  border-radius: 10px;
  padding: 15px;
}
.box-article.show-article .date-holder {
  position: absolute;
  top: 0;
  right: 0;
  padding: 7px 20px;
  width: -moz-fit-content;
  width: fit-content;
}
.box-article.show-article .img-holder {
  margin-bottom: 10px;
  border-radius: 10px;
}
.box-article.show-article .img-holder .img-article {
  border-radius: 10px;
  transition: transform, 0.3s;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 260px;
}
.box-article.show-article .text-holder .article-title {
  display: block;
  transition: 0.2s;
  color: #3f5c74;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}
.box-article.show-article .text-holder .article-des {
  font-weight: 600;
  color: #757575;
  font-size: 13px;
  margin-bottom: 0%;
}
.box-article.show-article .category {
  display: block;
  width: 100%;
  color: #757575;
  font-size: 11px;
  font-weight: 500;
  margin-bottom: 10px;
}
.box-article.show-article .share-holder {
  display: flex;
  align-items: center;
  gap: 5px;
}
.box-article.show-article .share-holder .circle {
  cursor: pointer;
  transition: 0.3s;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d4b24e;
}
.box-article.show-article .share-holder .circle:hover {
  transform: translateY(-5px);
}
.box-article.show-article .share-holder .circle a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.box-article.show-article .share-holder .circle a i,
.box-article.show-article .share-holder .circle a svg {
  font-size: 17px;
}

.box-side-News {
  background-color: #d4b24e;
  padding: 10px;
  transition: 0.3s;
}
.box-side-News:hover {
  background-color: #b09246;
}
.box-side-News .img {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  -o-object-fit: cover;
     object-fit: cover;
}
.box-side-News .title {
  color: white;
  display: block;
  font-size: 14px;
  margin-bottom: 0px;
  font-weight: bold;
}
.box-side-News .category {
  font-size: 11px;
  color: #b09246;
  margin-bottom: 5px;
}
.box-side-News .content {
  color: white;
  margin: 0;
  font-size: 13px;
  max-width: 165px;
  overflow: hidden;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .box-side-News .content {
    max-width: 117px;
  }
}

.boxes-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
}
.boxes-gallery .box {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
}
.boxes-gallery .box iframe {
  width: 100%;
  height: 100%;
}
.boxes-gallery .box .img {
  width: 100%;
  transition: 0.3s;
  height: 205px;
  -o-object-fit: cover;
     object-fit: cover;
}
.boxes-gallery .box .caption {
  position: absolute;
  padding: 13px;
  width: 100%;
  background: rgba(15, 18, 22, 0.45);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  left: 0;
  bottom: -100%;
  transition: 0.3s;
  color: white;
  font-size: 16px;
}
.boxes-gallery .box:hover .img {
  transform: rotate(3deg) scale(1.1);
}
.boxes-gallery .box:hover .caption {
  bottom: 0px;
}

.footer {
  font-size: 14px;
  color: white;
  background-color: #b9923e;
  padding: 1rem 0;
  margin-bottom: 1.5rem;
  border-radius: 0 0 14px 14px;
  -webkit-border-radius: 0 0 14px 14px;
  -moz-border-radius: 0 0 14px 14px;
  -ms-border-radius: 0 0 14px 14px;
  -o-border-radius: 0 0 14px 14px;
}
.footer .img {
  height: auto;
  width: 144px;
}/*# sourceMappingURL=main.css.map */