//colors
$main-color: #d4b24e;
$main-color-dark: #b09246;
$section-color: #faf8f1;
$text-color: #50596c;
$white: white;
$black: black;
//transition
$transition: 300ms;
$main-transition: .4s;
$sm-transition: .3s;
$xs-transition: .2s;